body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;

  margin: auto;
  padding: 0 10px;
  word-wrap: break-word;

  color: #363636;
  background: #efefef;

  text-rendering: optimizeLegibility;
  display: block;

  max-width: 800px;
  margin: 20px auto;
}

h1, h2, h4 {
  color: #363636;
  font-weight: 600;
  padding: 0, 3px;
  margin:auto;
}

.container {
  display: block;
  margin: 0;
  justify-content: center;
  text-align: center;
}

.calculator_section {
  justify-content: center;
  text-align: center;
  display: block;
}

.form-section {
  border: solid #dbdbdb 1px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.form-column {
  flex: 50%;

}

.form-section label {
  display: block;
}

hr {
  border: none;
  border-top: 1px solid #dbdbdb;
}

input[type="number"] {
  text-align: center;
}

.chart {
  margin-top: none;
  padding: 5px;
  margin-bottom: 20px;
  max-width: 100%;
  border: 1px solid black;
}

.navbar {
  background-color: #363636;
  color: #efefef;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.navbar h1, .navbar h4 {
  color: #efefef;
  font-weight: 600;
  padding: 0, 3px;
  margin:auto;
}